@import "tailwindcss";

.mediaquery {
  display: flex;
}

@media (max-width: 900px) {
  .mediaquery {
    display: none;
  }
  .under900 {
    display: flex;
  }
}

@media (min-width: 900px) {
  .under900 {
    display: none;
  }
}